h2, h3, h4, h5 {
    font-family: "Playfair Display";
}

footer {
	background-color: #889bae;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media all and (min-width: 576px) {
	h3 {
		font-size: 26pt;
	}
	
}

@media all and (min-width: 768px) {
	h3 {
		font-size: 32pt;
	}
}

@media all and (min-width: 992px) {
	h3 {
		font-size: 40pt;
	}
}

.banner-card {
    position: relative;
}

.banner-card img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* .box-div {
    background-color: #444444;
    opacity: .25;
} */

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    color: #889bae;
}

.modal-header {
	background-color: #889bae;
}

i:hover {
    color: #889bae;
}

.timeline>li::before{
	content:'';
	position: absolute;
	width: 1px;
	background-color: #E7E7E7;
	top: 0;
	bottom: 0;
	left:-19px;
}

.timeline>li::after{
    text-align: center;
    padding-top:10px;
	z-index: 10;
	content:counter(item);
	position: absolute;
	width: 50px;
	height: 50px;
	border:3px solid white;
	background-color: #E7E7E7;
	border-radius: 50%;
	top:0;
	left:-43px;
}

.timeline>li{
	counter-increment: item;
	padding: 10px 10px;
	margin-left: 0px;
	min-height:70px;
	position: relative;
	background-color: white;
	list-style: none;
}

.error {
	background: orangered;
	color: #fff;
	padding: 5px;
	margin: 5px;
}

